/******BOTON CARDS********/

.btnMio {
    background-color: $fontBoton;
    color: $white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  
    &:hover {
      background-color: rgb(81, 9, 9);
      color: #bbbaba !important;
    }
  }
  
  /*BOTON DE WP*/
  
  .logoWp {
    width: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  
    &:hover {
      filter: brightness(95%);
      animation: inherit;
    }
  }
  
  .prodMate {
    @include alineacion (grid, center);    
    position: absolute;    
    align-items: center;
    width: 100%;
  }
  
  .prod {
    position: relative;
  }

  .btnConsul {
    
    width: 80%;
    margin: 10px;
    padding: 10px;    
}

.textForm {
    @include alineacion (flex, center);
    font-size: 25px;
}