@import "_vars";
@import "_mixins";
@import "_fonts";
@import "_header";
@import "_cards";

@import "_boton";


* {
    margin: 0;
    padding: 0;
}

//CAROUSEL

.mateCar {
    width: 100%;
    height: 600px;
    object-fit: unset;
}

/*HEADING*/

.heading {
    @include anclas;
  }
  
  .fotoHeading {
    @include anclas;
    align-items: center !important;
  }
  
  .btnConsul {
    width: 80%;
    margin: 10px;
    padding: 10px;
  }
  
  .textForm {
    @include alineacion (flex, center);
    font-size: 25px;
  }
  